//VARIABLES
$containerWidth: 1170px;//1280-55-55=1170px
$gap: 15px;
$columnsCount: 12;
$colWidth: 100% / $columnsCount;

$primaryColor: #7acec3; //фон, лого
$secondaryColor: #ebb240; //фон
$studioColor: #ff9b6d;
$newsColor: #d4edbf;
$menuColor: #f8c255;

$backgroundColor: #e9eae2;//основной фон


* {
    box-sizing: border-box;
    border: 1px dashed black;
}

@media screen and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;
}

/*ba-grid*/

.ba-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row + .ba-row {
    margin-top: 1rem;
}

[class^="ba-col"] {
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
}

@for $i from 1 through $columnsCount {
    .ba-col-#{$i} {
        width: $colWidth * $i;
    }
}

/*
    0-360 : xs
    361-768 : sm Новый телефон
    769-1024 : md Планшет
    1025-1400 : lg Компьютер
    > 1400 : xl Большой компьютер
*/

@media screen and (min-width: 991px) {
    @for $i from 1 through $columnsCount {
        .ba-col-md-#{$i} {
            width: $colWidth * $i;
        }
    }
    .hidden-md {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .hidden-sm {
        display: none !important;
    }
}



/*ba-common*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    left: -999999px;
  }

.ba-text-center {
    text-align: center;
}

.ba-text-right {
    text-align: right;
}

.ba-text-left {
    text-align: left;
}

.ba-text-justify {
    text-align: justify;
}
