.ba-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .45);
    z-index: 20;
    display: none;
    //display: flex;

    align-items: center;
    justify-content: center;
    &-content {
        width: 95vw;
        height: 95vh;
        position: relative;
        background-color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 991px) {
            padding: 15px 11.5%;
        }
        &-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            @media screen and (min-width: 991px) {
                flex-direction: row;
            }
        }
    }
    &-info {
        @media screen and (min-width: 991px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 500px;
        }
    }
    &-picture {
        @media screen and (min-width: 991px) {
            //min-height: 500px;
            //background-color: $secondaryColor;
        }
        &__slider {
            width: 60%;
            margin: 0 auto;
            @media screen and (min-width: 991px) {
                width: 35%;
            }
        }
        &__item {
            height: 103px;
            //width: 120px;
            padding: 10px;
            @media screen and (min-width: 991px) {
                height: 100px;
                //width: 120px;
            }

            &_large {
                width: 100%;
                height: 100%;
            }
        }
        &__img {
            border: 1px solid #d4d5cd;
            &_large {
                height: 35vh;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border: none;
                @media screen and (min-width: 991px) {
                    //min-height: 500px;
                    height: 50vh;
                }
                
            }
        }
    }
    &__info {
        height: 33vh;
        overflow: scroll;
        margin-bottom: 0;
        @media screen and (min-width: 991px) {
            margin-bottom: 0;
            height: 100%;
            overflow: hidden;
        }

    }
    &__title {
        /* Style for "FONDUE" */
        color: #333333;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.33em;
        @media screen and (min-width: 991px) {
            font-size: 1.875rem;
            line-height: 1.33em;

        }

    }
    &__list {
        margin-bottom: 1rem;
        @media screen and (min-width: 991px) {
            margin-bottom: 45px;
        }
    }
    & .ba-projects__item, &__item {
        /* Style for "Project As" */
        color: #333333;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1em;
    }
    &__text {
        color: #0b0b0b;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: none;
        &:last-child {
            margin-top: 1rem;
        }
        @media screen and (min-width: 991px) {
            font-size: 0.875rem;
            &:last-child {
                margin-top: 20px;
            }
        }

    }
    &__slider {
        min-height: 130px;
        padding: 15px 0;
    }
    &-media {
        &__list {
            display: flex;
            justify-content: center;
            margin-top: 0;
            @media screen and (min-width: 991px) {
                margin-top: 0;
            }

        }
        &__item {
            &:not(:first-child) {
                margin-left: 1rem;
                @media screen and (min-width: 991px) {
                    margin-left: 30px;
                }
            } 
        }
        &__link {
            font-size: 1rem;
            @media screen and (min-width: 991px) {
                font-size: 1.5rem;
            }
            &:hover {
                color: $menuColor;
            }
        }
    }
}

.ba-modal--open{
    display: flex;
};

//кнопка
.ba-modal-close{
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    z-index: 10;
    min-width: 40px;
    min-height: 40px;
    @media screen and (max-width: 360px) {
        min-width: 40px;
        min-height: 40px;
    }
    @media screen and (min-width: 991px) {
        width: 100px;
        height: 100px;
        top: 50px;
        right: 50px;
        border: 1px solid #000;

    }
    &>i {
        font-size: 24px;
        @media screen and (min-width: 991px) {
            font-size: 34px;
        }
    }
    &.pushed {
        background: $menuColor;
        border: $menuColor;
        @media screen and (min-width: 991px) {
            outline: none;
        }   
    }
    &:hover {
        background-color: $menuColor;
    }
}

.ba-modal__image {
    max-width: 100%;
    height: auto;
    max-height: 40vh;
}

.ba-modal-is-open{
    overflow: hidden;
}
//оформление слайдера
.slick-next:before, .slick-prev:before {
    color: black !important;
}

/*=====================================
.portfolio-navi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;	
}
	.portfolio-navi a {
	  padding-top: 5px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  text-decoration: none;
	  color: #3c4955;
	  border-radius: 2px;
	  font-size: 16px;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  min-width: 135px;
	  height: 36px;
	  background-color: #eaeaea;
	  text-align: center;
	  margin: 0 7px;
	  border-radius: 2px; }
	  .portfolio-navi a.active {
		background-color: tomato;
		color: #fff; }
  
  .portfolio-item {
	height: 300px;
	width: 29.35%;
	margin: 2%; }
	/* .ba-bread {
	  background-color: red;
	  height: 350px; }
	.ba-pizza {
	  background-color: green;
	  height: 380px; }
	.ba-other {
	  background-color: blue; } 
	
  
  .items-navi .nav-btn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    pointer-events: none; }
    
    =====================================*/