@charset "UTF-8";
* {
  box-sizing: border-box;
  border: 1px dashed black; }

@media screen and (max-width: 360px) {
  html {
    font-size: 12px; } }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/*ba-grid*/
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^="ba-col"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/*
    0-360 : xs
    361-768 : sm Новый телефон
    769-1024 : md Планшет
    1025-1400 : lg Компьютер
    > 1400 : xl Большой компьютер
*/
@media screen and (min-width: 991px) {
  .ba-col-md-1 {
    width: 8.33333%; }
  .ba-col-md-2 {
    width: 16.66667%; }
  .ba-col-md-3 {
    width: 25%; }
  .ba-col-md-4 {
    width: 33.33333%; }
  .ba-col-md-5 {
    width: 41.66667%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-7 {
    width: 58.33333%; }
  .ba-col-md-8 {
    width: 66.66667%; }
  .ba-col-md-9 {
    width: 75%; }
  .ba-col-md-10 {
    width: 83.33333%; }
  .ba-col-md-11 {
    width: 91.66667%; }
  .ba-col-md-12 {
    width: 100%; }
  .hidden-md {
    display: none; } }

@media screen and (max-width: 990px) {
  .hidden-sm {
    display: none !important; } }

/*ba-common*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -999999px; }

.ba-text-center {
  text-align: center; }

.ba-text-right {
  text-align: right; }

.ba-text-left {
  text-align: left; }

.ba-text-justify {
  text-align: justify; }

@media screen and (min-width: 991px) {
  .ba-top-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    min-height: 500px; } }

.ba-header {
  background-color: #7acec3;
  color: #ffffff;
  padding-top: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-header {
      width: 31%;
      padding-top: 50px;
      padding-bottom: 100px;
      background-image: linear-gradient(to left top, #7acec3 50%, #e9eae2, #7acec3 50.5%); } }
  .ba-header-wrapper {
    position: relative;
    height: 100%; }
  .ba-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem; }
    @media screen and (min-width: 991px) {
      .ba-header-top {
        flex-direction: column;
        height: 100%;
        padding: 0; } }
  .ba-header-adress__list {
    margin-left: auto; }
    @media screen and (min-width: 991px) {
      .ba-header-adress__list {
        margin-left: 12.9%;
        margin-right: auto; } }
  .ba-header-adress__item, .ba-header-contact__item, .ba-footer-adress__item, .ba-footer-contact__item {
    font-family: "Roboto Condensed";
    font-size: 0.8125rem;
    line-height: 1.1em; }
  .ba-header-contact__list {
    margin-left: auto; }
    @media screen and (min-width: 991px) {
      .ba-header-contact__list {
        margin-left: 29.24%;
        margin-right: auto;
        margin-top: auto; } }

.ba-menu-btn {
  /* Style for "border" */
  min-width: calc((125/120)*80px);
  min-height: 80px;
  margin-left: 8px;
  border: 3px solid #e9eae2; }
  @media screen and (max-width: 360px) {
    .ba-menu-btn {
      min-width: calc((125/120)*40px);
      min-height: 40px;
      margin-left: 0; } }
  @media screen and (min-width: 991px) {
    .ba-menu-btn {
      width: 125px;
      height: 120px;
      margin-bottom: 18.4%;
      margin-left: 0; } }
  .ba-menu-btn > i {
    font-size: 24px; }
    @media screen and (min-width: 991px) {
      .ba-menu-btn > i {
        font-size: 34px; } }
  .ba-menu-btn.pushed {
    background: #f8c255;
    border: #f8c255; }
    @media screen and (min-width: 991px) {
      .ba-menu-btn.pushed {
        outline: none; } }
  .ba-menu-btn:hover {
    background-color: #f8c255; }

.ba-menu {
  border: 3px solid #f8c255;
  background-color: #f8c255;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 991px) {
    .ba-menu {
      position: absolute;
      top: 0;
      right: 60%;
      height: 120px;
      padding-right: 38px;
      padding-left: 53px; }
      .ba-menu__item + .ba-menu__item {
        margin-left: 36px; } }
  .ba-menu.open {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .ba-menu__link {
    display: block;
    padding: 0.5rem 0.5rem;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1.78;
    text-transform: uppercase; }

.ba-hero {
  background-color: #e9eae2;
  padding: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-hero {
      width: 69%;
      padding: 50px 0 0; } }
  @media screen and (min-width: 991px) {
    .ba-hero-wrapper {
      display: flex;
      min-height: 500px;
      padding-right: 0;
      padding-left: 14.5%; } }
  .ba-hero-picture {
    margin-left: auto; }
  .ba-hero__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center; }
  .ba-hero__logo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 991px) {
      .ba-hero__logo {
        flex-direction: column;
        padding: 0 0 100px; } }
  .ba-hero__info {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .ba-hero__title {
    color: #393d3c;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .5em; }
    @media screen and (min-width: 991px) {
      .ba-hero__title {
        font-size: 1.125rem;
        line-height: 16px;
        margin-bottom: 61px;
        text-align: left; } }
  .ba-hero__media {
    display: flex;
    justify-content: center;
    align-self: center; }

.ba-media__link + .ba-media__link {
  margin-left: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-media__link + .ba-media__link {
      margin-left: 0.75rem; } }

.ba-menu-media__link {
  font-size: 1.375rem;
  color: #7acec3; }
  .ba-menu-media__link:hover, .ba-menu-media__link:focus, .ba-menu-media__link:active {
    color: #f8c255; }

.ba-logo {
  display: inline-block;
  min-width: 100px; }
  @media screen and (max-width: 768px) {
    .ba-logo {
      width: 25%; } }
  @media screen and (max-width: 425px) {
    .ba-logo {
      width: 35%; } }
  .ba-logo__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; }

/* style.scss*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase; }
  @media screen and (min-width: 1800px) {
    body {
      width: 1800px;
      margin: 0 auto; } }

button {
  background: none;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.ba-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center; }

@media screen and (min-width: 991px) {
  .ba-section {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; } }

.ba-projects__title {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-projects__title {
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 0.6rem; } }

.ba-projects__list {
  margin-bottom: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-projects__list {
      margin-bottom: 0; } }

.ba-projects__item {
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1; }
  @media screen and (min-width: 991px) {
    .ba-projects__item {
      font-size: 0.75rem; } }

.ba-projects-main {
  background-color: #ebb240;
  display: flex;
  align-items: center;
  padding: 0.5rem 0; }
  @media screen and (min-width: 991px) {
    .ba-projects-main {
      width: 31%;
      min-height: 500px;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-end;
      background-image: linear-gradient(to left top, #ebb240 50%, #fff, #ebb240 50.5%);
      padding-top: 167px;
      padding-bottom: 150px; } }
  .ba-projects-main__title {
    flex-grow: 0.5;
    text-align: center;
    color: #fefefe;
    font-size: 2rem; }
    @media screen and (min-width: 991px) {
      .ba-projects-main__title {
        font-size: 3rem;
        margin-right: 8%;
        flex-grow: 0; } }
  .ba-projects-main__list {
    padding-left: 2rem;
    overflow: hidden; }
    @media screen and (min-width: 991px) {
      .ba-projects-main__list {
        margin-right: 55%; } }
  .ba-projects-main__item + .ba-projects-main__item {
    margin-top: 0.25rem; }
    @media screen and (min-width: 991px) {
      .ba-projects-main__item + .ba-projects-main__item {
        margin-top: -0.25rem; } }
  .ba-projects-main__links {
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.077; }
    .ba-projects-main__links::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.18em;
      content: "\f061";
      display: inline-block;
      color: #fff;
      position: absolute;
      top: 0;
      left: -5em; }
    @media screen and (min-width: 991px) {
      .ba-projects-main__links {
        font-size: 0.8125rem; } }
    .ba-projects-main__links:focus, .ba-projects-main__links:active {
      color: #000000;
      transition: 0.3s; }
      .ba-projects-main__links:focus::before, .ba-projects-main__links:active::before {
        transform: translateX(4em);
        transition: 0.3s; }
    .ba-projects-main__links:hover {
      color: #000000;
      transition: 0.3s; }
      .ba-projects-main__links:hover::before {
        transform: translateX(4em);
        transition: 0.3s; }

.ba-view-wrapper {
  text-align: center;
  margin-bottom: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-view-wrapper {
      text-align: left;
      margin-bottom: 0; } }

.ba-view__btn {
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase; }
  @media screen and (min-width: 991px) {
    .ba-view__btn {
      font-size: 1.125rem; } }
  .ba-view__btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    content: "\f061";
    margin: 0 0.75rem 0 0;
    display: inline-block;
    color: #ebb240; }

.ba-heart-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 991px) {
    .ba-heart-wrapper {
      flex-direction: column;
      align-self: flex-start;
      margin-left: 70px;
      margin-bottom: 0; } }

.ba-heart__counter {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 300; }
  @media screen and (min-width: 991px) {
    .ba-heart__counter {
      font-size: 0.6875rem; } }

.ba-heart__btn {
  font-size: 1.5rem; }

.ba-fondue {
  background-color: #ffffff;
  background-image: url(../images/img-fondue.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-fondue {
      width: 38%;
      min-height: 500px;
      padding: 80px 0 74px 7%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }

.ba-potter {
  background-color: #dfe0d9;
  background-image: url(../images/img-potter.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 140px;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-potter {
      background-size: 265px auto;
      width: 31%;
      min-height: 250px;
      padding: 36px 0 25px 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }
  .ba-potter__info p {
    max-width: 70%;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: none;
    word-break: break-word; }
    @media screen and (min-width: 991px) {
      .ba-potter__info p {
        max-width: 162px; } }

.ba-louis {
  color: #fefefe;
  background-color: #62747f;
  background-image: url(../images/img-louis-clear.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 150px;
  padding: 0.5rem 1rem;
  /*  & .ba-view-wrapper {
        margin-bottom: 1.5625rem;
    } */ }
  @media screen and (min-width: 991px) {
    .ba-louis {
      width: 20%;
      min-height: 465px;
      background-size: contain;
      background-position-x: right;
      background-position-y: 100%;
      padding: 40px 0 210px 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }
  .ba-louis__info .ba-projects__title,
  .ba-louis__info .ba-projects__item,
  .ba-louis .ba-view__btn {
    color: #fefefe; }

.ba-p22 {
  background-color: #eaeaea;
  background-image: url(../images/img-p22.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 180px auto;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-p22 {
      width: 49%;
      min-height: 465px;
      background-position-x: 33%;
      background-position-y: center;
      background-size: contain;
      padding: 92px 60px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; } }
  .ba-p22 .ba-projects__list {
    margin-left: 45%; }
    @media screen and (min-width: 991px) {
      .ba-p22 .ba-projects__list {
        margin-left: 0; } }
  .ba-p22 .ba-view-wrapper {
    text-align: right;
    margin-right: 20%; }
    @media screen and (min-width: 991px) {
      .ba-p22 .ba-view-wrapper {
        margin-right: 0; } }
  @media screen and (min-width: 991px) {
    .ba-p22__info {
      margin-right: 27px; } }
  @media screen and (min-width: 991px) {
    .ba-p22__info + .ba-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 82px; }
      .ba-p22__info + .ba-button-wrapper .ba-heart-wrapper {
        align-self: center;
        margin-left: 0; } }

.ba-tabano {
  background-color: #e9eae2;
  background-image: url(../images/img-tabano.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 180px auto;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-tabano {
      position: relative;
      top: -250px;
      width: 31%;
      min-height: 465px;
      background-size: auto 350px;
      background-position-x: center;
      background-position-y: top;
      padding: 0 0 30px 0;
      display: flex;
      justify-content: center;
      align-items: flex-end; } }
  @media screen and (min-width: 991px) {
    .ba-tabano__info {
      margin-right: 15px; } }
  @media screen and (min-width: 991px) {
    .ba-tabano__info + .ba-button-wrapper {
      display: flex;
      margin-bottom: 10px; }
      .ba-tabano__info + .ba-button-wrapper .ba-heart-wrapper {
        align-self: center;
        margin-left: 0; } }

.ba-sesann {
  background-color: #fcfcfc;
  background-image: url(../images/img-sesann.png);
  background-repeat: no-repeat;
  background-position: 95% 45%;
  background-size: 180px auto;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-sesann {
      width: 49%;
      min-height: 300px;
      background-position-x: center;
      background-position-y: 15%;
      background-size: auto;
      padding: 0 0 22px 0;
      display: flex;
      justify-content: center;
      align-items: flex-end; } }
  @media screen and (min-width: 991px) {
    .ba-sesann__info {
      margin-right: 40px; } }
  @media screen and (min-width: 991px) {
    .ba-sesann__info + .ba-button-wrapper {
      display: flex;
      margin-bottom: 10px; }
      .ba-sesann__info + .ba-button-wrapper .ba-heart-wrapper {
        align-self: center; } }
  .ba-sesann .ba-view-wrapper {
    margin-right: 0; }
  @media screen and (min-width: 991px) {
    .ba-sesann .ba-heart-wrapper {
      align-self: flex-end;
      margin-left: 37px; } }

.ba-alessi {
  background-color: #cecece;
  background-image: url(../images/img-alessi.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 140px;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-alessi {
      background-size: 265px auto;
      width: 20%;
      min-height: 300px;
      padding: 80px 1.5% 38px 1.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; } }
  .ba-alessi .ba-projects__list {
    margin-left: 45%; }
    @media screen and (min-width: 991px) {
      .ba-alessi .ba-projects__list {
        margin-left: 0; } }
  .ba-alessi .ba-view-wrapper {
    margin-right: 10px; }
  @media screen and (min-width: 991px) {
    .ba-alessi .ba-heart-wrapper {
      align-self: flex-end;
      margin-right: 54px; } }

.ba-fiji {
  background-color: #fff;
  background-image: url(../images/img-fiji.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 150px;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 991px) {
    .ba-fiji {
      position: relative;
      top: -250px;
      width: 31%;
      min-height: 250px;
      background-size: auto 230px;
      background-position-x: -5%;
      background-position-y: 70%;
      padding: 43px 5% 21px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; } }
  .ba-fiji .ba-projects__list {
    margin-left: 45%; }
    @media screen and (min-width: 991px) {
      .ba-fiji .ba-projects__list {
        margin-left: 0; } }
  @media screen and (min-width: 991px) {
    .ba-fiji .ba-view-wrapper {
      margin-right: 0; } }
  @media screen and (min-width: 991px) {
    .ba-fiji .ba-heart-wrapper {
      align-self: flex-end;
      margin-right: 12%; } }

.ba-timeline {
  background-color: #ebb240;
  display: flex;
  align-items: center;
  padding: 0.5rem 0; }
  @media screen and (min-width: 991px) {
    .ba-timeline {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 31%;
      min-height: 300px;
      display: block;
      background-image: url(../images/line.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      padding-top: 55px;
      padding-left: 6.66%; } }
  @media screen and (max-width: 991px) {
    .ba-timeline .ba-projects-main__list {
      display: flex;
      align-items: center;
      padding-left: 0; } }
  @media screen and (min-width: 991px) {
    .ba-timeline .ba-projects-main__list {
      margin-right: 0;
      margin-left: -2rem; } }
  .ba-timeline .ba-projects-main__item {
    padding-left: 1.5rem;
    overflow: hidden; }
    @media screen and (min-width: 991px) {
      .ba-timeline .ba-projects-main__item {
        margin-left: -5px;
        padding-left: 0;
        overflow: visible; } }
  .ba-timeline .ba-projects-main__item + .ba-projects-main__item {
    margin-top: 0; }
    @media screen and (min-width: 991px) {
      .ba-timeline .ba-projects-main__item + .ba-projects-main__item {
        margin-top: -5px; } }
  .ba-timeline__title {
    flex-grow: 1;
    text-align: center;
    color: #333333; }
    @media screen and (min-width: 991px) {
      .ba-timeline__title {
        font-size: 0.875rem;
        text-align: left; } }

.ba-studio {
  background-color: #e9eae2; }
  .ba-studio-main {
    background-color: #ff9b6d;
    display: flex;
    align-items: center;
    padding: 0.5rem 0; }
    @media screen and (min-width: 991px) {
      .ba-studio-main {
        width: 31%;
        min-height: 500px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        background-image: linear-gradient(to left top, #ff9b6d 50%, #fff, #ff9b6d 50.5%);
        padding-top: 167px;
        padding-bottom: 150px; }
        .ba-studio-main .ba-projects-main__title {
          margin-right: 23.5%; } }
  .ba-studio-content {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-studio-content {
        width: 69%;
        min-height: 500px;
        padding: 94px 10.3% 16px 85px;
        display: flex; } }
    .ba-studio-content__text {
      color: #333333;
      text-transform: none; }
      .ba-studio-content__text p > b {
        font-style: italic; }
      .ba-studio-content__text p {
        font-size: 0.875rem;
        font-weight: 300; }
        @media screen and (min-width: 991px) {
          .ba-studio-content__text p {
            font-size: 1.125rem;
            line-height: 1rem; } }
      .ba-studio-content__text p + p {
        margin-top: 0.875rem; }
    .ba-studio-content__text + .ba-studio-content__text {
      margin-top: 1.5rem; }
      @media screen and (min-width: 991px) {
        .ba-studio-content__text + .ba-studio-content__text {
          margin-top: 40px; } }
  .ba-studio-picture {
    margin-bottom: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-studio-picture {
        margin-bottom: 40px; } }
  .ba-studio-awards__title {
    position: relative;
    color: #333333;
    font-size: 14px;
    font-weight: 700; }
    .ba-studio-awards__title::before {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: #000;
      position: absolute;
      bottom: -2px;
      left: 0; }
  .ba-studio-awards__text {
    color: #333333;
    font-size: 12px;
    line-height: 14px; }
    .ba-studio-awards__text p {
      white-space: pre-line; }
  .ba-studio-staff {
    width: 100%; }
    @media screen and (min-width: 991px) {
      .ba-studio-staff {
        min-height: 390px;
        padding-top: 60px;
        padding-bottom: 60px; } }
    .ba-studio-staff__info {
      margin-bottom: 1rem; }
      @media screen and (min-width: 991px) {
        .ba-studio-staff__info {
          margin-bottom: 0; } }
    .ba-studio-staff__profile {
      margin-bottom: 1rem;
      display: flex; }
      @media screen and (min-width: 991px) {
        .ba-studio-staff__profile {
          flex-direction: column;
          margin-bottom: 0; } }
    .ba-studio-staff__title {
      font-size: 0.875rem; }
    .ba-studio-staff__text {
      text-transform: none; }
      .ba-studio-staff__text p {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        font-weight: 300; }
        @media screen and (min-width: 991px) {
          .ba-studio-staff__text p {
            margin-top: 1.5rem;
            padding-right: 10px;
            font-size: 0.75rem;
            line-height: 1rem; } }

.ba-staff-picture {
  width: 50%; }
  @media screen and (min-width: 991px) {
    .ba-staff-picture {
      width: 100%;
      margin-bottom: 0.85rem; } }

.ba-staff-text {
  padding-left: 1rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 991px) {
    .ba-staff-text {
      padding-left: 0;
      margin-bottom: 1rem; } }

.ba-staff__title {
  color: #333333;
  font-size: 1.25rem;
  font-weight: 700; }
  @media screen and (min-width: 991px) {
    .ba-staff__title {
      font-size: 0.8125rem; } }

.ba-staff__text {
  color: #333333;
  font-size: 0.75rem; }

.ba-staff-block {
  width: 50%; }
  @media screen and (min-width: 991px) {
    .ba-staff-block {
      width: 100%; } }

@media screen and (min-width: 991px) {
  .ba-staff-info {
    display: flex;
    justify-content: space-between; } }

.ba-staff-info__link {
  display: block;
  text-align: center;
  color: #fd5000;
  margin-bottom: 0.75rem; }
  @media screen and (min-width: 991px) {
    .ba-staff-info__link {
      margin-bottom: 0; } }
  .ba-staff-info__link::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    content: "\f060";
    margin: 0 0 0 .25rem;
    display: inline-block;
    color: #fd5000; }
  .ba-staff-info__link:hover {
    color: #000; }
    .ba-staff-info__link:hover::after {
      color: #000; }

.ba-staff-info__list {
  display: flex;
  justify-content: space-evenly; }

.ba-staff-list__link {
  color: #fd5000;
  font-size: 0.875rem; }
  .ba-staff-list__link:hover {
    color: #000; }

@media screen and (min-width: 991px) {
  .ba-staff-list__item + .ba-staff-list__item {
    margin-left: 1rem; } }

.ba-news {
  background-color: #e5e9df; }
  .ba-news-main {
    background-color: #d4edbf;
    display: flex;
    align-items: center;
    padding: 0.5rem 0; }
    @media screen and (min-width: 991px) {
      .ba-news-main {
        width: 31%;
        min-height: 500px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        background-image: linear-gradient(to left top, #d4edbf 50%, #fff, #d4edbf 50.5%);
        padding-top: 167px;
        padding-bottom: 157px; } }
  .ba-news__title {
    color: #fff; }
    @media screen and (min-width: 991px) {
      .ba-news__title {
        margin-right: 29.5%; } }
  .ba-news-picture {
    margin-top: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-news-picture {
        margin-top: 1rem; } }
  .ba-news__img {
    height: 100%; }
  @media screen and (min-width: 991px) {
    .ba-news-content {
      min-height: 500px;
      width: 69%;
      padding-top: 75px;
      padding-bottom: 1rem;
      display: flex;
      justify-content: center; } }
  .ba-news-content__info {
    padding-top: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-news-content__info {
        padding-top: 0; } }
  .ba-news-content__title {
    color: #333333;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-news-content__title {
        font-size: 1.5rem;
        line-height: 1.5rem; } }
    @media screen and (min-width: 991px) {
      .ba-news-content__title_margin {
        margin-bottom: 1.5rem; } }
  .ba-news-content__text {
    margin-top: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-news-content__text {
        margin-top: 22px; } }
    .ba-news-content__text > p {
      color: #6a6969;
      font-size: 12px;
      line-height: 14px; }
  .ba-news-content__link {
    display: block;
    text-align: right;
    color: #fd5000;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 0.5rem; }
    @media screen and (min-width: 991px) {
      .ba-news-content__link_margin {
        margin-top: 22px; } }
    .ba-news-content__link:hover {
      color: black; }
  .ba-news-content time {
    font-size: 0.75rem; }

#map {
  width: 100%;
  height: 50vh;
  background-color: #c1c2bb; }
  @media screen and (min-width: 991px) {
    #map {
      min-height: 644px;
      width: 50%; } }

.ba-footer {
  background-color: #e9eae2; }
  @media screen and (min-width: 991px) {
    .ba-footer {
      min-height: 644px;
      width: 100%;
      display: flex; } }
  .ba-footer-content {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (min-width: 991px) {
      .ba-footer-content {
        width: 50%;
        padding: 150px 11% 50px 115px; } }
    .ba-footer-content .ba-hero__title {
      display: none; }
      @media screen and (min-width: 991px) {
        .ba-footer-content .ba-hero__title {
          display: block; } }
  .ba-footer__info {
    width: 50%; }
    @media screen and (min-width: 991px) {
      .ba-footer__info {
        display: block; } }
  .ba-footer-adress__item {
    color: #333333; }
  .ba-footer-contact__list {
    margin-top: 2rem; }
    @media screen and (min-width: 991px) {
      .ba-footer-contact__list {
        margin-top: 1rem; } }
  .ba-footer-contact__item {
    color: #333333; }
  .ba-footer .ba-hero__logo {
    width: 50%; }
    @media screen and (min-width: 991px) {
      .ba-footer .ba-hero__logo {
        padding: 0 0 0 0;
        margin-left: auto;
        width: auto; } }
  .ba-footer .ba-hero__title {
    display: none; }
    @media screen and (min-width: 991px) {
      .ba-footer .ba-hero__title {
        display: block; } }
  .ba-footer .ba-hero__media {
    flex-direction: column; }
    @media screen and (min-width: 991px) {
      .ba-footer .ba-hero__media {
        flex-direction: row;
        margin-bottom: auto; } }
  .ba-footer .ba-media__link:not(:first-child) {
    margin-top: 0.4rem; }
    @media screen and (min-width: 991px) {
      .ba-footer .ba-media__link:not(:first-child) {
        margin-top: 0; } }
  .ba-footer .ba-media__link:first-child {
    margin-left: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-footer .ba-media__link:first-child {
        margin-left: 0; } }
  .ba-footer__copyright {
    color: #191919;
    font-size: 0.6rem;
    margin: 0 auto;
    margin-top: 1rem; }
    @media screen and (min-width: 991px) {
      .ba-footer__copyright {
        font-size: 0.75rem; } }
